.mysheet 
{
    list-style-type: square;
}

* 
{
    box-sizing: border-box;
}

.targets:target
{
    background-color: #CEEDCF
}

.focused:focus
{
    background-color: #CEEDCF
}

body
{
    height: 100vh;
}

nav
{
    float: left;
    width: 100px;
    height: 100%;
    background-color: #FFF0C7;
    padding: 20px;
    position:fixed;
}

nav ul
{
    list-style-type: none;
    padding: 0;
}

nav li:hover 
{
    background-color: #CBD1CC
}

article
{
    float: left;
    margin-left: 110px;
    width: 95%;
    height:100%;
    padding: 20px;
}
.pad 
{
    padding-left: 5px;
}
section::after
{
    content: "";
    display: table;
    clear: both;
}

table, th, td
{
    border:1px solid black;
    text-align: center;
    padding: 5px;
}
